
<section class="user-profile">
<div class="container-fluid bg-3 text-center">    
  <h3 class="profile-info-title">Profile</h3>
  <div class="card">
    <div class="row">
      <div class="profile-info">
        <p> Usuario: <%= user.username %> </p>
        <p> E-Mail: <%= user.email %> </p>
        <p> City: <%= user.city %> </p>
        <p> Instrument: <%= user.instrument %> </p>
        <p> Styles: <%= user.styles %> </p>
        <p> About: <%= user.about %> </p>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <a class="button mt-2 btn btn-outline-secondary-block" href="/profile/edit"><i class="fas fa-pencil-alt"></i></a>      
      </div>
    </div>
  </div>
</section>

<section class="my-jams">
  <div class="container-fluid bg-3 text-center">
    
    <h3 class="profile-info-title">My jams</h3>
      <% if (jams.length > 0) { %> 
      <div class="row">
      <% jams.forEach((jamItem) => { %>
      <div class="card jam-info bg-3 text-center col-md-4 pt-4 pb-4 mt-3 ml-3 mr-3">
              <div class="profile-info">
                <h4 class="page-header mb-4"><%= jamItem.title %></h5>
                <p class="card-text">Description: <%= jamItem.description %> </p>
                <p class="card-text">Style: <%= jamItem.style %> </p>
                <p class="card-text ">Date: <%= jamItem.date %> </p>
             <div class= "text-center">
                <a class="btn mt-1 btn btn-outline-secondary-block text-center" href="/jams/<%= jamItem._id%>"><i class="fas fa-info-circle"></i></a>
                <a class="button mt-2 btn btn-outline-secondary-block text-center" href="/jams/<%= jamItem._id%>/edit"><i class="fas fa-pencil-alt"></i></a>      
                </div>
              </div>
            </div>
          <% }) %>

        
    
        </div>
      </div>
      <a href="/jams" class="mt-2 btn btn-outline-secondary-block">Go to Jams </a>
      <% } else { %>
      
        <a href="/jams" class="mt-2 btn btn-outline-secondary-block">Go to Jams </a>
      <% } %>
  </div>
</section>


<section class="followers">
  <!-- Back log -->
</section>