

<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3>
  </div>
  <div class="container text-center">
  <% jams.forEach(jam => { %>

  <article class="jam-info container-fluid bg-3 text-center">    
    <h3 class="page-header"><%= jam.title %> </h3>
    <p> City: <%= jam.city %> </p>
    <p> About: <%= jam.info %> </p>
    <p> Description: <%= jam.description %> </p>
    <p> Style: <%= jam.style %> </p>
    <p> Instruments: <%= jam.instruments %> </p>
    
    <a href="/jams/<%= jam._id%>">Info</a>
    <form action="jams/<%= jam._id%>/delete" method="post">
      <button class="btn">Delete</button>
    </form>
    <form action="jams/<%= jam._id%>/attendees" method="post">
      <button type="submit" class="btn" ><i class="far fa-star"></i></button>
  </form>
    <a href="/jams/<%= jam._id%>/edit">Edit</a>
    </article>
  <% }) %>

  <div class="row text-center">
  <a class="btn btn-block" href="/jams/add" class="mt-2 btn btn-outline-secondary-block">Add a new Jam</a>
  <a class="btn btn-block" href="/" class="mt-2 btn btn-outline-secondary-block">Go back</a>
  </div>
</div>
