
<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-12">
      <a href="/jam/:id/jaminfo"></a>
      <p> <%= jam.title %> </p>
      <p> <%= jam.date %> </p>
      <p> <%= jam.city %> </p>
      <p> <%= jam.descritption %> </p>
      <p> <%= jam.style %> </p>
      <p> <%= jam.instruments %> </p>
      <p> <%= jam.atendees %> </p>

    </div>

  </div>
  <div class="my-jams">
  <a class="btn btn-outline-secondary" href="/jams/add" class="mt-2 btn btn-outline-secondary-block">Add a new Jam</a>
  <a class="btn btn-outline-secondary" href="/jams" class="mt-2 btn btn-outline-secondary-block">Go back</a>

  
  </div>
</div>